* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_text {
  font-family: sans-serif;
  font-size: 3rem;
  color: rgb(194, 190, 190);
  text-align: center;
  padding-top: 2rem;
}

.hero {
    height: 100vh;
  background-color: rgb(123, 104, 241);
}
